@charset "utf-8";
/* CSS Document */
/**
  * Documento CSS criado por Paulo Osawa
  * Estilo Destinado à página Light Game - Jogo de Memória
  * Colaboradores:
*/
html, body {
  padding:0; margin:0; text-align: center; font-size: 1rem; scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body { font-size: clamp(16px, calc(.75rem + .45vw + 1px), 20px); min-width: 350px; }
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}
a {color: inherit; text-decoration:none;} a:active, a:hover{cursor: pointer; outline-width:0}
button,[type=button],[type=reset],[type=submit]{cursor: pointer}
img{border-style:none; max-width:100%; height:auto; vertical-align:middle}
[hidden] {display: none} ul{ padding:0; margin:0} ul, li {text-decoration:none; list-style:none}
:root {
  color: white; --cordark: #03045E; --cor: #003386;
  --coralpha: #003386cf; --corb: #0077B6;  
  --urstar: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' %3E%3Cpath style='fill: white;' d='M 4.333,5.438 3.701,4.708 3.352,5.608 3.529,4.659 2.607,4.947 3.46,4.493 2.659,3.952 3.546,4.336 3.47,3.373 3.722,4.305 4.428,3.645 3.857,4.424 4.812,4.565 3.847,4.603 Z'  /%3E%3C/svg%3E");
  --pthlkdin: path("M 5,24.6 H 9.4 V 11.7 H 5 Z M 9.7,7.7 q 0,-0.9 -0.6,-1.6 -0.6,-0.6 -1.7,-0.6 -1.1,0 -1.8,0.6 -0.7,0.6 -0.7,1.6 0,0.9 0.7,1.6 0.6,0.6 1.7,0.6 v 0 q 1.1,0 1.8,-0.6 0.6,-0.6 0.6,-1.6 z M 20.6,24.6 h 4.3 v -7.4 q 0,-2.9 -1.3,-4.3 -1.3,-1.5 -3.6,-1.5 -2.5,0 -4,2.2 v 0 -1.9 h -4.3 q 0.1,1.2 0,12.9 h 4.3 v -7.2 q 0,-0.7 0.1,-1.0 0.28,-0.6 0.87,-1.11 0.55,-0.4 1.3,-0.4 2.2,0 2.2,3 z M 29.3,6 v 18 q 0,2 -1.5,3.8 -1.5,1.5 -3.8,1.5 H 6 q -2,0 -3.8,-1.5 Q 0.6,26 0.6,24 V 6 q 0,-2.2 1.6,-3.8 1.6,-1.6 3.8,-1.6 H 23.9 q 2,0 3.8,1.6 1.5,1.5 1.5,3.8 z");
  --urlrays: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='200' viewBox='0 6 100 10' %3E%3Cpath fill='white' fill-opacity='.7' stroke='black' stroke-width='.1' stroke-opacity='1' style='filter: drop-shadow(0px -3px 3px black)' d='m 0.7,1.2 V 4.376 L 49.7,7.42 v 0 0 0 0 L 99.3,4.376 V 1.2 L 49.7,6.824 Z m 0,4.66 v 2.94 L 49.7,8.6 v 0 l 49.6,0.2 v -2.94 l -49.6,2.1 v 0 z M 49.7,9.2 0.7,10.9 v 2.53 L 49.72,9.8 99.3,13.4 V 10.9 L 49.73,9.2 Z m 0,1.2 v 0 L 0.7,15 v 3.77 l 49,-7.8 49.6,7.8 V 15 L 49.73,10.4 v 0 0 z' /%3E%3C/svg%3E");
}
h1 { font-size: 2.8em; line-height: 1em; margin: .2em auto; }
h2 { font-size: 1.5em; line-height: 1.4em; }
h1, h2, h3, .pright { font-style: italic; }
h1, h2, h3, .spnerr, .spnfase, .grow, .btncor { font-weight: 600; }
h2, h3, h4, h5 { margin:0; padding: 6px; }
h3 { margin: 0 10px; }
.dvmsg > h2 { padding: 6px 0; text-transform: capitalize; }
header, main, footer, .dvmain, .topo, .base, .dvlinks p { width: 100%; }
header, footer { padding: 15px 40px; }
main { height: 84vh; height: auto; padding: 2px; }
header, main, footer, .dvmidias ul, .flex, .dvmain, .dvinfo, .dvluzes, .fullpredio, .predio, .janela, .dvfooter { display: flex; }
.flex { justify-content: space-around; gap: 10px; }
header, .dvmain, .fullpredio, .janela { flex-direction: column; }
.flex.sb, .dvmain, .dvluzes { justify-content: space-between; }
.flex.jc, .dvinfo, .fullpredio, .predio, .janela, footer, .dvfooter { justify-content: center; }
header, .dvmidias ul, .flex, .dvmain, .dvinfo, .dvluzes, .fullpredio, .predio, .janela, footer, .dvfooter { align-items: center; }
.dvinfo, .predio, .dvfooter { flex-wrap: wrap; }
.dvlinks .socialinks ul { gap: 20px;}
.dvmidias li a > div { width: 30px; height: 30px; margin: .2em auto; background: white; transform: scale(1.2); }

.btncor {
  font-size: inherit; padding: 9px 1.5em; border-radius: 7px; color: white;
  background: linear-gradient(black, var(--cor) 65%); transition: .2s;
}
.btncor:hover {
  background: linear-gradient(var(--cor), black); filter: brightness(1.3);
  box-shadow: 1px 1px 3px rgb(107, 107, 107); transition: .2s;
}
.btncor:active { border-style: inset; }
/* ================================ lightGame CSS ==== */
header {
  background: no-repeat var(--urlrays), linear-gradient(to right, var(--cor), black , var(--cor));
  background-position: center top; background-blend-mode: overlay, normal; filter: brightness(1.2);
  justify-content: space-around;
}
.dvmain {
  position: relative; margin: 0 auto; padding: 5px 18px; gap: 1px; height: auto;
  background: 8% 8% / 20% 40% repeat var(--urstar),  40% 42% / 20% 30% repeat var(--urstar),
    linear-gradient( -181deg, black 36%,rgba(0, 0, 0, 0.95) 43%, hsla(217, 83%, 28%, 0.97) 66%, #6688c6c8 76%,black 88%);  
}
h1, h2, h3 {
  text-shadow: 2px 2px 1px var(--cor), 2px 2px 1px var(--cor),
    -1px -1px 1px var(--corb), 3px 3px 2px var(--corb),
    1px 1px .1em white, 2px 2px .1em white, 3px 3px 1px white;
}
.dvmain h3 { text-shadow: 2px 2px 1px rgb(255, 0, 0); }
/* #region -------- DV FASE ------ */
.dvfase { min-height: 120px; height: auto; margin: 0 auto; }

.dvfase > div { 
  height: auto; padding: 0; margin: 0 auto;
  box-shadow: 3px 3px 9px rgba(198, 227, 244, 0.5);
  border-radius: 7px; opacity: 0; max-height: 0px;
  visibility: hidden;
}

.dvinfo { line-height: .5em; gap:12px; }
.dvinfo h2, .dvinfo h3  {  padding: 0; }
/* .dvini, .dvinfo { box-shadow: 3px 3px 9px rgba(198, 227, 244, 0.5); } */
.dvmsg {
  background: linear-gradient(to right, black, var(--cor) 30% 70%, black);
}
.btncor.hiden { display: none; transition: none; }
.btncor.blink { color: rgb(38, 255, 0); font-size: 1.2em; transition: font-size .5s .3s;}
.btncor.disab { filter: grayscale(.7); color: grey; -webkit-user-select: none; user-select: none; }

.spnerr, .spnfase { padding: 0 10px; }
.spnerr.grow { color: red; }
.grow { font-size: 1.5em; }
.spnerr, .spnfase, .grow { transition: .4s; }
.spnfase.grow{ transition: 0.4s .2s; }
.dvluzes { width: fit-content; height: 50px; padding: 0 10px; }
.dvluzes > div {
  width: 50px; height: 50px; border-radius: 50%;
  background-color: red; opacity: .6;
  border: 3px solid white;
}
.dvluzes > .read { background-color: yellow; opacity: .6; transition: background-color .4s; }
.dvluzes > .on { background-color: chartreuse; border-color: green; opacity: 1; animation: brilho .6s both; }

/* --------------------------------------------- */
.hiden, .dvini:not(.actv) > * {
  max-height: 0px; opacity: 0; visibility: hidden; 
}
.dvfase > .actv {
  max-height: 160px; padding: 14px; opacity: 1; visibility: visible;  
}
.dvini:not(.actv) > * { transition: max-height .2s opacity .2s; }
.hiden, .dvfase > div:not(.actv) { transition: all .4s; }
.dvfase > .actv { transition: all .5s; }
/* #endregion -------------- */

/* #region -------- DV predio ------ */
.fullpredio {
  width: 99%; max-width: 550px; min-height: 64vh;
  filter: grayscale(.3); height: auto; margin: 5px auto;
}
.fullpredio:focus-within { filter: grayscale(0); }
.topo, .base {
  height: 40px; flex: none; background-color: #8f7349;
  box-shadow: 0px 0px 5px rgb(50, 50, 50); border-radius: 3px;
  filter: drop-shadow(2px 0px 2px rgb(0, 0, 0));
}

.predio {
  width: 93%; height: 84%; padding: 1.5% 3%; gap: 0 6%;
  background: url('../imgs/paternTijoloD.jpg');
  background-color: rgb(255, 212, 204); outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  counter-reset: numJanelas;
}
.janela {
  font-size: 2em; cursor: pointer; width: 28%;
  height: 17%; border-radius: 3px;
  background: center center / 100% 100% url('../imgs/janelaac.jpg');
  filter: sepia(.1) saturate(2); color: rgba(128, 128, 128, 0.1);
}

.broken { background: center center / 100% 100% url('../imgs/janelaQuebrada.jpg'); }

.acesa { filter: sepia(3) saturate(4); }
.acende { animation: pisca 1.2s both; }
.janela:active{ border: 2px solid rgb(174, 176, 125); }

.acesa, .disab { pointer-events: none; }
.janela::before { content: counter(numJanelas); }
.janela:nth-child(1n+2){ counter-increment: numJanelas; }

.predio:not(.disab) > .janela:focus {
  border: 2px solid rgb(174, 176, 125); outline: 2px solid rgb(126, 127, 54);
}

/* #endregion -------------- */

footer{ background: linear-gradient(black, var(--cor), black);}
.dvfooter { margin: 18px auto; }
.dvfooter > * { margin: 10px; }
.pright{ line-height: 1.3em; padding:0 0 .3em 0; border-bottom: 1px solid white; }
/* .svlkdin { clip-path: var(--pthlkdin); } */
.svgit {
  clip-path: path("m 10.23,20.6 c 0.1,-0.3 -0.2,-0.4 -0.2,-0.4 0,0.2 0.2,0.4 0.2,0.4 z M 9.635,19.7 c -0.1,0.2 0.1,0.4 0.2,0.4 v -0.27 c 0,0.1 -0.21,0.1 -0.21,0.1 z m -0.6,-0.8 h -0.2 c 0,0.1 0,0.2 0.1,0.2 z m 0.4,0.4 v 0 c 0,0 -0.1,-0.2 -0.2,-0.2 0,0 -0.1,0.1 0,0.2 z m 1.195,1.3 c -0.4,0.1 0.1,0.18 0.1,0.2 0.5,-0.1 0,-0.2 -0.1,-0.2 z m 1,0.2 c 0,-0.1 -0.2,-0.1 -0.3,-0.15 -0.5,0.1 0.2,0.1 0.3,0.15 z m 0.7,-0.2 c 0,0 -0.2,0.1 -0.46,0.1 -0.1,0.4 0.4,0 0.4,-0.1 z M 5.435,14.9 c 0.35,4.2 2.8,7.8 6.595,9 h 0.5 c 0.1,-0.1 0.15,-0.3 0.15,-0.45 V 21.9 h -0.3 c -1.35,0 -2.35,0 -2.945,-1.3 -0.3,-0.7 -0.7,-1.2 -1.1,-1.33 0,-0.17 -0.3,-0.37 -0.3,-0.37 v 0 c 0,-0.1 0,-0.1 0.1,-0.1 h 0.6 c 0.1,0 0.3,0 0.56,0.1 0.2,0.2 0.4,0.5 0.6,0.7 0.195,0.3 0.395,0.6 0.695,0.8 0.2,0.1 0.54,0.1 0.8,0.15 h 0.7 c 0.2,-0.1 0.4,-0.15 0.55,-0.15 0.1,-0.6 0.3,-1.11 0.6,-1.3 -0.6,0 -1,-0.1 -1.6,-0.37 -0.46,-0.1 -1,-0.3 -1.36,-0.6 -0.395,-0.4 -0.795,-1 -0.995,-1.6 -0.2,-0.5 -0.36,-1.2 -0.36,-2.1 0,-1 0.3,-2 1,-2.5 -0.3,-0.76 -0.2,-1.6 0,-2.601 0.195,-0.1 0.605,0 1.005,0.2 0.4,0.16 0.8,0.3 1,0.4 L 12.4,10.3 c 0.7,-0.25 1.5,-0.371 2.4,-0.371 0.87,0 1.6,0.101 2.4,0.371 0.1,-0.1 0.3,-0.2 0.5,-0.372 0.2,-0.1 0.57,-0.2 1,-0.4 0.46,-0.2 0.8,-0.3 1,-0.2 0.36,0.952 0.4,1.802 0.1,2.502 0.67,0.6 1,1.5 1,2.5 0,0.6 -0.1,1.3 -0.25,1.9 -0.2,0.5 -0.42,0.9 -0.7,1 -0.2,0.4 -0.6,0.65 -1,0.75 -0.4,0.3 -0.8,0.5 -1,0.6 -0.4,0.1 -0.8,0.2 -1.3,0.2 0.43,0.35 0.65,1 0.65,1.74 v 1.73 1 c 0,0.1 0.1,0.3 0.1,0.46 h 0.5 c 4.45,-2.2 6.5,-5.65 6.57,-9 0,-4.85 -4,-9.5 -9.37,-9.357 C 9.635,5.499 5.535,9.9 5.435,14.9 Z M 29.33,5.95 V 24 c 0,1.55 -0.5,2.8 -1.6,4 -1,1 -2.3,1.5 -3.8,1.5 H 6 C 4.6,29.3 3.3,28.8 2.2,27.8 1.2,26.7 0.6,25.45 0.6,24 V 5.9 c 0.1,-1.45 0.6,-2.73 1.65,-3.73 1,-1 2.3,-1.6 3.75,-1.5 h 17.95 c 1.5,0 2.76,0.5 3.8,1.6 1,1 1.6,2.2 1.6,3.8 z");
}
p, h1, h2, h3, footer, .janela { -webkit-user-select: none; user-select: none; -webkit-user-drag: none; }

@keyframes pisca {
  0%, 100% { filter: sepia(0.1) saturate(3); border: 0px solid rgb(0, 0, 0); }
  35%, 50% { filter: sepia(4) saturate(6); border: 3px solid rgb(160, 160, 200); }
}
@keyframes brilho {
  0%, 100% { filter: contrast(1) saturate(1); }
  50% { transform: scale(1.2); filter: contrast(3) saturate(4); }
}